
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 custom-form">
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name, error: 'Name is mandatory, please specify one' %>
        <%= f.input :photo, as: :attachinary %>
        <%= f.button :submit, class: 'btn btn-primary'  %>
      <% end %>
    </div>
  </div>

