<div class="wrapper">
  <div class="container">

    <div class="card-cocktail">
      <h1><%= @cocktail.name.upcase %></h1>
      <ul><% @cocktail.doses.each do |dose| %></ul>
      <li class= "dose-list"><%= dose.description %> <%= link_to "x", dose_path(dose), method: :delete, class: 'btn btn-primary btn-xs' %></li>
      <% end %>
    </div>

    <br>

    <div class="col-md-4 text-center">
      <%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class: 'btn btn-primary text-center' %>
    </div>

  </div>
</div>
